@import 'tailwindcss';
@import './fonts.css';  

body {
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  background-image: 
    linear-gradient(#000304BA, #000304B3),
    url('@/shared/assets/images/auth-bg.png');
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  background-color: #000510;
}

a, button {
  cursor: pointer;
}