@import 'tailwindcss';
@import './fonts.css';  

html, body {
  color: #ffffff;
  font-family: 'DM Sans', sans-serif;
  background-image: 
    url('@/shared/assets/images/auth-bg.png');
  background-size: cover;
  background-position: fixed;
  height: 100%;
  background-repeat: no-repeat;
}

a, button {
  cursor: pointer;
}